<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}Local Library{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="{% url 'library:index' %}" class="navbar-brand">Library</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'library:books' %}">All books</a></li>
        <li><a href="{% url 'library:authors' %}">All authors</a></li>
        <li> <form class="navbar-search pull-right" action="{% url 'search:search' %}">
  				<input type="search" class="search-query" placeholder="Search" name="q" value="{{ request.GET.q }}">
  				<button type="submit" class="btn btn-outline-success my-2 my-sm-0">Search</button>
    		</form><
    	</li>
      </ul>

      <ul class="nav navbar-nav navbar-right">

        {% if user.is_authenticated %}
            <li><a href="#"><span class="glyphicon glyphicon-user"></span>{{ user.get_username }}</a></li>
            <li><a href="{% url 'accounts:logout'%}?next={{request.path}}">
                <span class="glyphicon glyphicon-user"></span> Logout</a>
            </li>
        {% else %}

            <li><a href="{% url 'accounts:login'%}?next={{request.path}}">
                <span class="glyphicon glyphicon-log-in"></span> Log in</a>
            </li>

        {% endif %}
      </ul>
    </div>

  </div>

</nav>

<div class="container">
  {% block content %}{% endblock %}
  {% block pagination %}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
  {% endblock %}

</div>

</body>
</html>
