{% extends 'base.html' %}
{% block content %}
    <h1>The library has:</h1>
        <ul>
            <li><h3>Books: {{ cnt_books }}</h3></li>
            <li><h3>Authors: {{ cnt_authors }}</h3></li>
        </ul>
{% endblock %}