{% extends 'base.html' %}
{% block title %}
{{ author.name }}
{% endblock %}
{% block content %}
<form class="form-horizontal" method="post" action="{% url 'library:author_del' author.id %}">
    {% csrf_token %}
        <h2>Are you sure delete {{ author.name }}?</h2>
    <div class="form-actions">
        <button type="submit" class="btn btn-danger">Yes</button>
        <a  href="{%  url 'library:author' author.id %}" class="button cancel-link">No, take me back</a>
    </div>
</form>
{% endblock %}