{% extends "base.html" %}
{% block title %}
{{ author.name }}
{% endblock %}
{% block content %}
<form class="form-horizontal" method="post" action="">
    {% csrf_token %}
    <fieldset>
        {% for field in form %}
            <div class="control-group
                {% if field.errors %} has-error {% endif %}">
                <label class="control-label">{{ field.label }}</label>
                <div class="controls">{{ field }}</div>
            </div>
        {% endfor %}
    </fieldset>
    <div class="form-actions">
        <button type="submit" class="btn btn-success">Save</button>
    </div>
</form>
{% endblock %}