{% extends "base.html" %}
{% block title %}
Authors
{% endblock %}
{% block content %}
<h1>Author List:</h1>
<a class="btn btn-default" href="{% url 'library:author_add' %}">Add New Author</a>
{% if author_list %}
  <ul class="list-group">
  {% for author in author_list %}
    <li class="list-group-item"><h3><a href="{{ author.get_absolute_url }}">{{ author }} </a></h3></li>
  {% endfor %}
  </ul>
{% else %}
  <h3>There are no authors available.</h3>
{% endif %}
{% endblock %}