{% extends 'base.html' %}
{% block title %}
{{ author.name }}
{% endblock %}
{% block content %}
    <h1><small>Name: </small>{{ author.name }}</h1>
    <a class="btn btn-warning" href="{% url 'library:author_edit' author.id %}">Edit</a>
    <a  class="btn btn-danger" href="{% url 'library:author_del' author.id %}">Delete</a>
{% endblock %}