{% extends "base.html" %}
{% block title %}
Books
{% endblock %}
{% block content %}
    <h1>Book List:</h1>
        <a class="btn btn-default" href="{% url 'library:book_add' %}">Add New Book</a>

    {% if book_list %}
    <ul class="list-group">
      {% for book in book_list %}
      <li class="list-group-item">
        <h3><a href="{{ book.get_absolute_url }}">{{ book.title }}</a> ({{book.author}})</h3>
      </li>
      {% endfor %}
    </ul>
    {% else %}
      <p>There are no books in the library.</p>
    {% endif %}
{% endblock %}