{% extends 'base.html' %}
{% block title %}
{{ book.title }}
{% endblock %}
{% block content %}
<form class="form-horizontal" method="post" action="{% url 'library:book_del' book.id %}">
    {% csrf_token %}
        <h2>Are you sure delete {{ book.title }}?</h2>
    <div class="form-actions">
        <button type="submit" class="btn btn-danger">Yes</button>
        <a href="{% url 'library:book' book.id %}" class="button cancel-link">No, take me back</a>
    </div>
</form>
{% endblock %}