{% extends 'base.html' %}
{% block title %}
{{ book.title }}
{% endblock %}
{% block content %}
    <h1> <small>Title: </small> {{ book.title }}</h1>
    {% if  book.author%}
        <h2> <small>Author: </small><a href="{% url 'library:author' book.author.id %}">{{ book.author }}</a></h2>
    {% else %}
        <h2>Author missing</h2>

    {% endif %}

    <a class="btn btn-warning" href="{% url 'library:book_edit' book.id %}">Edit</a>
    <a class="btn btn-danger" href="{% url 'library:book_del' book.id %}">Delete</a>
{% endblock %}