{% extends 'base.html' %}
{% block content %}
    <h4> <small> {{ books.count }} results</small></h4>
    {% if books %}
        <ul>
        {% for book in books %}
            <li><h3> <a href="{% url 'library:book' book.id %}">{{ book.title }}</a>
            ({{ book.author }})
            </h3></li>
        {% endfor %}
        </ul>
    {% else %}
        <h3>Searching did't give results.</h3>
    {% endif %}
{% endblock %}
