{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

   <div class="row">
   <div class="col-md-4"></div>
  <div  class=" container col-md-4" >
      <form method="post" class="form-signin">
          <h2 class="form-signin-heading">Please Sign in</h2>{% csrf_token %}
          {{ form|crispy }}
          <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
          <a class="btn btn-lg btn-primary btn-block"  href="{% url 'accounts:register' %}">Sign up</a>
      </form>
  </div>
    </div>
{% endblock %}