{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="container">
      <form method="post" class="form-signin">
          <h2 class="form-signin-heading">Registration</h2>{% csrf_token %}
          {{ form|crispy }}
          <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
      </form>
  </div>
{% endblock %}